/* Custom CSS for sankofa-org.squarespace.com */

/* Utils :
 sankofa orange: #ee3f00
 */

/* Menu */
.header-inner {
  padding: 0;
}

#headerNav nav .index {
  display: none;
}


#headerNav nav a,
#headerNav nav .folder-toggle,
.enable-nav-button #headerNav nav>div:not(.folder):last-child a {
  line-height: 0.5em;
  font-weight: 900;
  padding: 0 0.5em;
}

/* Sub nav */
html:not(.touch-styles) body:not(.force-mobile-nav) .nav-wrapper .folder .subnav {
  top: 200%;
  left: 0;
  padding: .5em 0;
}

html:not(.touch-styles) body:not(.force-mobile-nav) .nav-wrapper .folder .subnav .collection {
  padding: 1em 0;
}


/* Banner */
body:not(.collection-type-gallery) .desc-wrapper p {
  text-align: right;
  padding-right: 15%;
  margin: -65px 0 65px 0;
}

@media only screen and (max-width:640px) {
  body:not(.collection-type-gallery) .desc-wrapper p {
    margin: -65px 0 65px 0;;
  }
}

/* Footer */
#preFooter {
  text-align: center;
  font-family: sans-serif;
  font-size: .8em;
  font-weight: bold;
}

#preFooter li {
  display: inline;
  list-style: none;
  padding: 0 1em;

}

#preFooter li a {
  color: white;
  text-decoration: none;
  border-bottom: none;
}

#preFooter li a:hover {
  color: #ee3f00;
}

/* Contact / Connect */
p.small-text {
  text-align: center;
  font-size: .85em;
}
