/* Custom CSS for sankofa-org.squarespace.com */
/* Utils :
  - sankofa orange: #ee3f00
 */

/* ---------- HEADER ---------- */
.header-inner {
  padding: 0;
}

/* Header » Logo */
#header #logoImage {
    width: 160px;
}

#logoImage a img {
  filter: grayscale(100%) brightness(300%) ;
}

#logoImage a:hover img {
  filter: none;
}

/* Header » Navigation */
#headerNav nav .index {
  display: none;
}

#headerNav nav a,
#headerNav nav .folder-toggle,
.enable-nav-button #headerNav nav>div:not(.folder):last-child a {
  line-height: 0em;
  font-weight: 900;
  padding: 0 0.5em;
}

.enable-nav-button #headerNav nav>div:not(.folder):last-child a {
  padding: 1em !important;
  margin-left: 0;
}

/* Header » Drop-downs */
html:not(.touch-styles) body:not(.force-mobile-nav) .nav-wrapper .folder .subnav {
  top: .5em;
  left: 0;
  padding: .5em 0;
}

html:not(.touch-styles) body:not(.force-mobile-nav) .nav-wrapper .folder .subnav .collection {
  padding: 1em 0;
}

/* Header » Social media icons */
.top-nav-social-media {
  display: table-cell;
  vertical-align: middle;
  padding: 6px 0 6px 12px;
  white-space: nowrap;
}

.top-nav-social-media nav.sqs-svg-icon--list {
  font-size: 0em;
  line-height: 0em;
}

.top-nav-social-media .sqs-svg-icon--wrapper{
  width: 22px !important;
  height: 22px !important;
}

@media only screen and (min-width: 672px) and (max-width: 900px){
  #headerNav nav a,
  #headerNav nav .folder-toggle,
  .enable-nav-button #headerNav nav>div:not(.folder):last-child a {
    padding: 0 0.25em;
  }
  .enable-nav-button #headerNav nav>div:not(.folder):last-child a {
    padding: 1em .5em !important;
  }
  .top-nav-social-media {
    padding: 6px 0 6px 2px;
  }
  .top-nav-social-media .sqs-svg-icon--wrapper {
    margin: 4px!important;
  }
}

@media only screen and (min-width: 641px) {
  #header #headerNav {
    width: 99%;
  }
}

@media only screen and (max-width: 671px){
  .top-nav-social-media nav.sqs-svg-icon--list {
    margin-right: 30px;
    float: right;
  }
}

@media only screen and (max-width: 640px) {
  .header-inner {
    display: inherit;
  }
  .top-nav-social-media {
    float: right;
    padding: 6px 0 0 0;
  }
}


/* Header » Banner */
.banner-thumbnail-wrapper p {
  text-align: right;
  padding-right: 15%;
  font-weight: 900;
}

.banner-thumbnail-wrapper .desc-wrapper p {
  font-size: 56px !important;
}

@media only screen and (max-width: 640px) {
  .banner-thumbnail-wrapper .desc-wrapper p {
    font-size: 40px !important;
  }
}

/* Header » Banner "Splash" on Homepage*/
.view-list #splash .banner-thumbnail-wrapper,
.collection-type-index #splash .banner-thumbnail-wrapper {
  min-height: 200px;
}

#splash .banner-thumbnail-wrapper .desc-wrapper {
  max-width: 100%;
  position: absolute;
  bottom: 0;
  padding: 0;
}

#splash .banner-thumbnail-wrapper p {
  font-size: 1.7rem;
  font-weight: 400;
  background-color: #ee3f00;
  text-align: center;
  padding: .3em 0;
  margin: 0;
  color: black;
}

.collection-type-index #splash .page-content {
  padding: 92px 32px 0px;
}

#what-we-do .summary-content {
  padding-top: 17px;
}

#what-we-do .sqs-block-summary-v2 .summary-block-setting-text-size-medium .summary-title {
  font-size: 24px;
}

/* ---------- FOOTER ---------- */
#footer {
  display: none;
}

#preFooter {
  text-align: center;
  font-family: sans-serif;
  font-size: .8em;
  font-weight: bold;
}

#preFooter li {
  display: inline;
  list-style: none;
  padding: 0 1em;

}

#preFooter li a {
  color: white;
  text-decoration: none;
  border-bottom: none;
}

#preFooter li a:hover {
  color: #ee3f00;
}

/* ---------- Contact | Connect ---------- */
p.small-text {
  text-align: center;
  font-size: .85em;
}

/* ---------- Mission ---------- */
p.large-text {
  font-size: 2em;
  line-height: 1.2em;
  text-align: center;
  margin-top: 0;
}

p.large-text a {
  color: #ee3f00;
}

p.large-text a:hover {
  text-decoration: underline;
}

p.medium-text {
  font-size: 1.2em;
  line-height: 1.5em;
  text-align: center;
  padding: 0 5%;
}

.mission {
  border: 1px solid #ee3f00;
  padding-top: 2em;
}

.mission h2 {
  text-align: center;
  color: #ee3f00;
}

.mission-orange {
  background-color: #ee3f00;
  color: white;
  padding: 2em 1em;
}

.mission-orange h3 {
  text-align: center;
  color: white;
}

.mission-orange blockquote {
  text-align: center;
  font-size: 1.5em;
  padding: .5em 25%;
  line-height: 1.5em;
}

.mission-orange blockquote:before {
  content: '“ ';
  display: inline;
}

.mission-orange blockquote:after {
  content: ' ”';
  display: inline;
}

/* --------- Music ---------- */
h2.music {
  background-color: #ee3f00;
  color: white;
  padding: .5em .3em;
}

/* ---------- Dispatches --------- */
.sqs-block-summary-v2 .summary-excerpt p,
.sqs-block-summary-v2 .summary-excerpt ul,
.sqs-block-summary-v2 .summary-excerpt li {
    font-size: 17px;
}

.collection-type-blog.view-item .banner-thumbnail-wrapper #thumbnail,
.collection-type-blog.view-item .banner-thumbnail-wrapper .post-date,
.collection-type-blog.view-item .banner-thumbnail-wrapper .post-category,
.collection-type-blog.view-item .banner-thumbnail-wrapper .post-author {
  display: none;
}

.collection-type-blog.view-item .banner-thumbnail-wrapper .blog-item-wrapper{
  width: 100%;
  max-width: 700px;
  display: block;
  margin: 0 auto;
}

.collection-type-blog.view-item .banner-thumbnail-wrapper {
  padding: 2em 32px 0;
  box-sizing: border-box;
}

@media only screen and (max-width: 640px) {
  .collection-type-blog.view-item .banner-thumbnail-wrapper {
    padding: 2em 20px 0;
  }
}

.collection-type-blog.view-item .post-title {
  color: black;
  text-align: left;
  /* h2 settings */
  font-family: Abel;
  font-size: 36px;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-weight: 900;
  font-style: normal;
}

.collection-type-blog.view-item .blog-item-wrapper {
  padding: 0;
}

.collection-type-blog.view-item #page {
  padding-top: 0;
}

.pagination {
  font-family: Abel;
}

.meta-below-title {
  display: none;
}

/* Read more link */
.sqs-block-summary-v2 .summary-read-more-link {
  font-family: "Abel";
  text-transform: uppercase;
  font-weight: 900;
}

.sqs-block-summary-v2 .summary-item-record-type-text .summary-read-more-link  {
  display: inline;
  border: 1px solid #ee3f00;
  padding: .3em;
}

/* --------- Donate --------- */
.donation-block .sqs-donate-button {
  font-size: 1.8em;
  font-weight: 900;
}
